:root {
	--white: #FFFFFF;
	--title-color: #1C232B;
	--text-color: #6C7289;
	--primary-color: #3D8168;
	--darken-primary-color: #1A4032;
	--bg-color: #F2EAE2;
}

::selection {
	color: var(--white);
	background: var(--primary-color);
}

html, body {
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	color: var(--text-color);
	background-color: var(--bg-color);
}

main {
	display: flex;
	width: 100%;
	height: 100%;
	padding-inline: 16px;
	padding-block: 28px;
	place-content: center;
	place-items: center;
}

.card {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	max-width: 100%;
	border-radius: 10px;
	background: var(--white);
}

.card__image {
	position: relative;
	overflow: hidden;
	min-width: 100%;
	max-height: 240px;
	object-fit: cover;
	object-position: center center;
}

.card__image:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--darken-primary-color);
	opacity: 0;
	transition: opacity .3s ease-in-out;
}

.card__image:hover:after {
	opacity: 0.5;
}

.card__content {
	display: flex;
	flex-direction: column;
	padding: 24px;
}

.card__content > * {
	animation: fadeIn 1s ease-in-out;
}

.card__tag {
	font-size: 12px;
	margin-bottom: 12px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.card__title {
	font-family: 'Fraunces', serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 16px;
	color: var(--title-color);
}

.card__description {
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 24px;
}

.card__prices {
	font-family: 'Fraunces', serif;
	font-weight: 700;
	display: flex;
	margin-bottom: 20px;
	place-content: flex-start;
	place-items: center;
	gap: 24px;
}

.card__price {
	font-size: 32px;
	line-height: 32px;
	color: var(--primary-color);
}

.card__price--old {
	font-size: 13px;
	line-height: 23px;
	text-decoration-line: line-through;
}

.btn {
	font-size: 14px;
	font-weight: 700;
	display: flex;
	cursor: pointer;
	transition: background-color .3s ease-in-out;
	color: var(--white);
	border: none;
	border-radius: 8px;
	outline: none;
	background-color: var(--primary-color);
	place-content: center;
	place-items: center;
	gap: 11px;
	padding-block: 16px;
}

.btn:hover {
	background-color: var(--darken-primary-color);
}

.btn:hover svg {
	transform: scale(1.1);
}

.btn svg {
	max-height: 16px;
	transition: transform .3s ease-in-out;
}

@media screen and (min-width: 600px) {
	.card {
		flex-direction: row;
		max-width: 600px;
	}

	.card__image {
		min-width: 300px;
		max-height: 100%;
	}

	.card__tag {
		margin-bottom: 20px;
	}

	.card__title {
		margin-bottom: 24px;
	}

	.card__description {
		margin-bottom: 29px;
	}

	.card__prices {
		margin-bottom: 30px;
	}
}

/* keyframe translateY opacity */
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.attribution {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 14px;
	text-align: center;
	color: var(--text-color);
	padding-block: 8px;
	display: flex;
	place-content: center;
	place-items: center;
	gap: 8px;
}
.attribution a { color: var(--primary-color);transition: color .3s }
.attribution a:hover { color: var(--darken-primary-color); }